BasedOnStyle: LLVM

IndentWidth: 4
ContinuationIndentWidth: 8
TabWidth: 4
UseTab: Never
ColumnLimit: 100

IndentCaseLabels: true
IndentCaseBlocks: false
IndentGotoLabels: false
IndentPPDirectives: None
MaxEmptyLinesToKeep: 1
KeepEmptyLinesAtTheStartOfBlocks: false

BreakBeforeBraces: Linux

BinPackParameters: false
BinPackArguments: false

AllowShortIfStatementsOnASingleLine: Never
AllowShortBlocksOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortCaseLabelsOnASingleLine: false

SpaceBeforeParens: ControlStatements
SpaceBeforeAssignmentOperators: true
SpaceBeforeCaseColon: false
SpaceInEmptyBlock: false
SpacesInCStyleCastParentheses: false
SpacesInParentheses: false
SpacesInSquareBrackets: false

PointerAlignment: Right
DerivePointerAlignment: false

BreakBeforeBinaryOperators: NonAssignment
BreakBeforeTernaryOperators: true
AlignTrailingComments: true

AlignConsecutiveAssignments: None
AlignConsecutiveDeclarations: None
AlignConsecutiveMacros: None
AlignArrayOfStructures: None

SortIncludes: false
IncludeBlocks: Preserve
InsertNewlineAtEOF: true

ReflowComments: true
CommentPragmas: '^ IWYU pragma:|^ clang-format off|^ clang-format on'