Checks: >
  *,
  -altera-*,
  -llvmlibc-restrict-system-libc-headers,
  -*-macro-to-enum,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -llvm-header-guard,
  -bugprone-easily-swappable-parameters,
  -bugprone-reserved-identifier,
  -cert-int09-c, -readability-enum-initial-value,
  -cert-dcl37-c,
  -cert-dcl51-cpp,
  -misc-include-cleaner,
  -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,
  -concurrency-mt-unsafe,
  c-guard-*
WarningsAsErrors: '*'
HeaderFilterRegex: '.*'
CheckOptions:
  readability-identifier-length.IgnoredVariableNames: '^(i|j|k|l|fd|ai|n|opt|val|end|ok)$'
  readability-identifier-length.IgnoredParameterNames: '^(i|j|k|l|fd|ai|n|opt|val|end|ok)$'
  readability-identifier-naming.EnumConstantCase: 'UPPER_CASE'
  readability-identifier-naming.GlobalVariablePrefix: 'g_'
  readability-identifier-naming.EnumSuffix: '_e'
  readability-identifier-naming.StructSuffix: '_s'
  readability-identifier-naming.TypedefSuffix: '_t'
